/* .container {
  display: grid;
  grid-template-columns: 10fr 2fr;
} */

.myId {
  margin-right: 5rem;
  border-radius: 5px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
}

/* .video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
} */

.caller {
  text-align: center;
  color: #fff;
}

video {
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.fade-in {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.fade-out {
  animation-name: fadeOut;
  animation-delay: 0s;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.slide-in {
  animation-name: slideup;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.slide-out {
  animation-name: slidedown;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes slideup {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slidedown {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
